/*body*/
.ms_body{
    background-color: #3535ec;
    font-family: Arial, Helvetica, sans-serif;
}

/* ridimensionamento dell'immagine*/
.ms_img-main{
    width: 500px;
}
/*per rendere invisibile degli elementi*/
.ms_none{
    display: none;
}